
h3 {
display: block;
}

/* Header styling*/

.header {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.logo h1 {
  padding: 10px;
  font-size: inherit;
  color: MediumAquamarine;
}

.header nav {
  display: flex;
  min-width: 50%;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

nav span, a {
  flex-basis: 60px;
  text-align: center;
  color: black;
}

/* Main container styling*/

.mainContainer div, h2, h3, p, nav, h4 {

}

.mainContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
    justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
  margin: 1%;

}

.row {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
}

.article {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.leftColumn {
  min-width: 49%;
}

.middleColumn {
    min-width: 23%;
}

.rightColumn {
  min-width: 20%;
}

.halfColumn{
  width: 48%;
}

.sideNav {
   align-items: center;
   justify-content: center;
}

.sideNav h4, a{
  margin: 0;

}

.pictureHeadline {
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}


.hero {
  background-image: url("../img-story-main.png");
  font-size: 40px;
}

.earth {
  background-image: url("../img-story-2.png");
}

.camera {
  background-image: url("../img-story-3.png");
}

.cat {
  background-image: url("../img-story-1.png");
}

.textHeadline {

}
